.Rproj.user
.Rhistory
.RData

2014/.Rproj.user/6B7E7298/pcs/source-pane.pper

2014/.Rproj.user/6B7E7298/pcs/source-pane.pper

2014/.Rproj.user/6B7E7298/sdb/per/t/53EDA8F5

2014/.Rproj.user/6B7E7298/pcs/source-pane.pper

2014/.Rproj.user/6B7E7298/sdb/per/t/54A3F6AA

2014/.Rproj.user/6B7E7298/sdb/per/t/6E61BCCD

2014/.Rproj.user/6B7E7298/sdb/per/t/91A93036

2014/.Rproj.user/6B7E7298/sdb/per/t/ABCDBC33

2014/.Rproj.user/6B7E7298/sdb/per/t/ABCDBC33
